@model OSS_Main.Models.DTO.EntityDTO.ProductDTO
@using OSS_Main.Common
@using OSS_Main.Models.DTO.EntityDTO
@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "CreateProduct";
    List<CategoryDTO> categories = ViewBag.Categories as List<CategoryDTO> ?? new();
}
<main class="page-content bg-light">
    <div class="container-fluid p-4">
        <div class="layout-specing">
            <div class="d-md-flex justify-content-between mb-2">
                <h5 class="mb-0">Create Product</h5>
                <nav aria-label="breadcrumb" class="d-inline-block mt-4 mt-sm-0">
                    <ul class="breadcrumb bg-transparent rounded mb-0 p-0">
                        <li class="breadcrumb-item"><a href="@Url.Content("~/index.html")">Admin</a></li>
                        <li class="breadcrumb-item "><a asp-controller="AdminProduct" asp-action="ProductList">List Product</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Create Product</li>
                    </ul>
                </nav>
            </div>
            <div class="card shadow-sm p-4 bg-white rounded">
                <form asp-controller="AdminProduct" enctype="multipart/form-data" asp-action="CreateProduct">
                    <div class="mb-3 d-flex">
                        <label class="form-label me-1 d-flex align-items-center">Product Name:</label>
                        <input type="text" asp-for="ProductName" class="form-control w-50" value="@Model.ProductName">
                        <span class="text-danger" asp-validation-for="ProductName"></span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label me-1">Description:</label>
                        <textarea class="form-control" asp-for="Description" id="viewDescription" rows="5">@Model.Description</textarea>
                        <span class="text-danger" asp-validation-for="Description"></span>
                    </div>
                    <div class="mb-3">
                        <div class="d-flex justify-content-between">
                            <div class="d-flex justify-content-end mb-3">
                                <label class="form-label me-1">Product Specifications:</label>
                                <a class="btn btn-success btn-sm" asp-controller="AdminProduct" asp-action="AddSpecRow">
                                    Add Product Specification
                                </a>
                            </div>
                        </div>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Quantity</th>
                                    <th>Base Price</th>
                                    <th>Sale Price</th>
                                </tr>
                            </thead>
                            <tbody id="specTableBody">
                                @if (Model.ProductSpecs != null)
                                {
                                    @for (int i = 0; i < Model.ProductSpecs.Count; i++)
                                    {
                                        <tr>
                                            <td>
                                                <input type="text" asp-for="ProductSpecs[i].SpecName" class="form-control" value="@Model.ProductSpecs[i].SpecName">
                                                <span class="text-danger" asp-validation-for="ProductSpecs[i].SpecName"></span>
                                            </td>
                                            <td>
                                                <input type="number" asp-for="ProductSpecs[i].Quantity" class="form-control" value="@Model.ProductSpecs[i].Quantity">
                                                <span class="text-danger" asp-validation-for="ProductSpecs[i].Quantity"></span>
                                            </td>
                                            <td>
                                                <input type="number" asp-for="ProductSpecs[i].BasePrice" class="form-control" value="@Model.ProductSpecs[i].BasePrice">
                                                <span class="text-danger" asp-validation-for="ProductSpecs[i].BasePrice"></span>
                                            </td>
                                            <td>
                                                <input type="number" asp-for="ProductSpecs[i].SalePrice" class="form-control" value="@Model.ProductSpecs[i].SalePrice">
                                                <span class="text-danger" asp-validation-for="ProductSpecs[i].SalePrice"></span>
                                            </td>
                                        </tr>

                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="d-flex">
                        <label class="form-label me-1 d-flex align-items-center">Product Categories:</label>
                        <select multiple="multiple" name="categoryIds" class="form-control w-50">
                            @foreach (var category in categories)
                            {
                                <option value="@category.CategoryId">@category.Name</option>
                            }
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Images:</label>
                        <input accept="image/*" type="file" name="productImages" class="form-control" multiple>
                    </div>
                    <input type="hidden" asp-for="ProductStatus" class="form-control" value="@Model.ProductStatus">
                    <div class="d-flex">
                        <button type="button" class="btn btn-primary me-2" style="width: 10%;" onclick="window.location.href = '@Url.Content("~/AdminProduct/ProductList")'">Back</button>
                        <button type="submit" class="btn btn-warning" style="width: 15%;">Save Changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
<script>
</script>